* {
    text-align: center;
    padding: 0.7rem;
    margin: 0.3rem;
}

h1 {
    text-decoration: underline;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 2rem;
    margin: 2rem;
    font-weight: bold;
}

th,
td {

    border: 1px solid white;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    margin: 1px;
    text-align: center;

}


table {
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

}

body {
    background-color: blueviolet;
}

input {
    border: 1px solid white;
    font-family: 'Lucida Sans';
    font-size: medium;
}

p,
caption {
    color: beige;
    font-size: medium;
}

#submit {
    font-family: 'Lucida Sans';
    font-size: medium;
    padding: 3.5px;
    margin: 1px;
}